services:
  app:
    container_name: nestJs-template-task_development
    build:
      context: .
      target: development
    ports:
      - "6500:5000"
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      redis:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    networks:
      - nestJs-template-task

